
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* colors */
--lavender-purple: #755cde;
--soft-orange: #f6a560;
--blush-pink: #f39e9e;
--coral-red: #eb7565;
--aqua-blue: #61c4b7;
--deep-violet: #552049;
--jet-black: #030303;
--warm-ash: #7a746e;
--peach-cream: #fff7f0;
/* typography */    
--font-family: 'Plus Jakarta Sans', sans-serif;
--heading-l-size: 56px;
--heading-l-line-height: 70px;
--heading-bold-weight: 700; /* Bold */
--heading-m-size: 40px;
--heading-m-line-height: 51px;
--heading-s-size: 32px;
--heading-s-line-height: 40px;
--body-m-size: 18px;
--body-m-line-height: 28px;
--body-medium-weight: 500; 
--button-text-size:16px;
--button-text-line-height:28px;

/* buttons */
--button-width:228px;
--button-height:56px;
--button-redius:28px;
--arrowbutton-width:64px;
--arrowbutton-height:64px;
--arrowicon-width:14.81px;
--arrowicon-height:16px;
--arrow-icon-x: 982.81px;
--arrow-icon-y: 157px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

body{
    background-color: var(--peach-cream);
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;
      text-align: center;
}

.navbar{
     width: 1111px ;
      height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 10px;


}
.logo{
    width: 64px;
    height: 64px;
    background-color: var(--jet-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 32px ;
    height: 32px ;
}

.consult-btn {
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--jet-black);
    border-radius: var(--button-redius);
    border: none; 
    color: var(--peach-cream);
    font-weight: var(--heading-bold-weight);
    font-size: var(--button-text-size);
    line-height: var(--button-text-line-height);
  }
  
  .consult-btn:hover {
    background-color: var(--lavender-purple);
  }

  .hero{
    margin-top: 66px;
    width: 752px;
    height: 150px;
    display: flex;
    flex-direction: column;
  }
  .hero-text h1{
    width: 751px;
    height: 71px;
    font-size: var(--heading-l-size);
    line-height: var(--heading-l-line-height);
    font-weight: var(--heading-bold-weight);
    color: var(--jet-black);
  }
  .hero-text p{
    width: 730px;
    height: 56px;
    font-size: var(--body-m-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-m-line-height);
    color: var(--warm-ash);
  }


.services{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 1111px ;
}

.service-card{
  position: relative;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-content: flex-end;
}

.service-card p{
  display: flex;
  align-self: flex-end;
  font-weight: var(--heading-bold-weight);
  font-size: 24px;
  color: white;
}

.service-card img{
  position: absolute;
  top: 24px;
  right: 24px;
}

.group{
  display: flex;
  gap: 24px;
}

.illustrations-1{
  width: 354px;
  height: 364px;
  grid-row: span 2;
}

.illustrations-6,.illustrations-5{
  width: 164px;
  height: 182px;
}

.illustrations-4{
  width: 354px;
  height: 182px;
}

.illustrations-2,.illustrations-3{
  width: 354px;
  height: 158px;
}
.services .purple{
  background-color: var(--lavender-purple);
}
.services .orange{
  background-color: var(--soft-orange);
}
.services .pink{
  background-color: var(--blush-pink);
}
.services .red{
  background-color: var(--coral-red);
}
.services .blue{
  background-color: var(--aqua-blue);
}
.services .violet{
  background-color: var(--deep-violet);
}


.about-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 445px;
  margin-top: 136px;
}

.about-section img{
 width: 445px;
  height: 445px;
}
.about-text{
  width: 540px;
  height: 306px;
}
.about-text h2{
  width: 540px;
  height: 100px;
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line-height);
  font-weight: var(--heading-bold-weight);
  color: var(--jet-black);
}
.about-text p{
  margin-top: 34px;
  width: 540px;
  height: 84px;
  font-size: var(--body-m-size);
  font-weight: var(--body-medium-weight);
  line-height: var(--body-m-line-height);
  color: var(--warm-ash);
}
.consult-btn1{
  margin-top: 32px;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--coral-red);
  border-radius: var(--button-redius);
  border: none; 
  color: var(--peach-cream);
  font-weight: var(--heading-bold-weight);
  font-size: var(--button-text-size);
  line-height: var(--button-text-line-height);
}

.consult-btn1:hover{
  background-color: var(--soft-orange);
}
.works-section {
  margin-top: 88px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-section h2{
    height: 40px;
    font-size: var(--heading-s-size);
    line-height: var(--heading-s-line-height);
}

.works-container {
  width: 100%;
  overflow: hidden;
  margin-top: 56px;
}

.works-img {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;

}

.works-img::-webkit-scrollbar {
  display: none;
}

.works-container img {
  width: 540px;
  height: 360px;
  flex-shrink: 0;
}
.arrows{
  margin-top: 56px;
  display: flex;
  gap: 15px;
}
.arrow-button{
  width: var(--arrowbutton-width);
  height: var(--arrowbutton-height);
  background-color: var(--jet-black);
  border: none;
  border-radius: 9999px;
}
.arrows img{
  color: #ffffff;
}
.arrow-button :hover{
  background-color:var(--lavender-purple) ;
}
.contact{
  margin-top: 88px;
  width: 1110px;
  height: 320px;
  background-color: var(--jet-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-text{
  width: 540px;
  height: 159px;
  margin-left: 40px;
}
.contact-text h2{
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line-height);
  color: var(--peach-cream);

}
.contact-text p {
  margin-top: 25px;
  color: var(--peach-cream);
  font-size: var(--body-m-size);
  font-weight: var(--body-medium-weight);
  line-height: var(--body-m-line-height);
}
.consult-btn2{
  margin-top: 32px;
  margin-right: 40px;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--coral-red);
  border-radius: var(--button-redius);
  border: none; 
  color: var(--peach-cream);
  font-weight: var(--heading-bold-weight);
  font-size: var(--button-text-size);
  line-height: var(--button-text-line-height);
}

.consult-btn2:hover{
  background-color: var(--soft-orange);
}
.footer{
  margin-top: 56px;
}


@media (min-width: 600px) and (max-width: 900px) {
  body{
    background-color: var(--peach-cream);
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;
      text-align: center;
      overflow-x: hidden; 
}


.navbar{
  margin-top: 10px;
  width: 689px ;
   height: 64px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: transparent;
 padding-top: 10px;


}
.logo{
 width: 64px;
 height: 64px;
 background-color: var(--jet-black);
 display: flex;
 align-items: center;
 justify-content: center;
}

.hero{
  margin-top: 64px;
  width: 690px;
  height: 138px;
  display: flex;
  flex-direction: column;
}
/* .hero-text p{
  width: 389px;
  height: 364px;
} */

.services{
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 690px ;
}
.about-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 772px;
  height: 364px;
  margin-top: 120px;
}
.about-text {
  width: 389px;
  height: 364px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  text-align: left;
}

.about-section img{
  width: 364px;
   height: 364px;
   margin-left: -60px;
 }
 .contact{
  margin-top: 120px;
  width: 690px;
  height: 352px;
  background-color: var(--jet-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer{
  margin-top: 56px;
}




}